# Pandas: Melt, Pivot, Aggregations, and Iterations

*Author: Tierney O'Sullivan*

## Overview

The purpose of this section is to perform exploratory data analysis with pandas. 

We will use melt, pivot, aggregations, iterations, and group-by analysis.

## Data for this Session: Sleep Health

To demonstrate these concepts, we will use some simulated data from Kaggle's [Sleep Health and Lifestyle Dataset](https://www.kaggle.com/datasets/uom190346a/sleep-health-and-lifestyle-dataset/). 

*  The file is called `Sleep_health_and_lifestyle_dataset.csv`, and is information about patients in the healthcare system. There should be one row per patient in this file, so we call this a patient level file.

#### Dataset Overview:
The Sleep Health and Lifestyle Dataset comprises 400 rows and 13 columns, covering a wide range of variables related to sleep and daily habits. It includes details such as gender, age, occupation, sleep duration, quality of sleep, physical activity level, stress levels, BMI category, blood pressure, heart rate, daily steps, and the presence or absence of sleep disorders.

#### Key Features of the Dataset:
Comprehensive Sleep Metrics: Explore sleep duration, quality, and factors influencing sleep patterns.
Lifestyle Factors: Analyze physical activity levels, stress levels, and BMI categories.
Cardiovascular Health: Examine blood pressure and heart rate measurements.
Sleep Disorder Analysis: Identify the occurrence of sleep disorders such as Insomnia and Sleep Apnea.

#### Dataset Columns:

* Person ID: An identifier for each individual.

* Gender: The gender of the person (Male/Female).

* Age: The age of the person in years.

* Occupation: The occupation or profession of the person.

* Sleep Duration (hours): The number of hours the person sleeps per day.

* Quality of Sleep (scale: 1-10): A subjective rating of the quality of sleep, ranging from 1 to 10.

* Physical Activity Level (minutes/day): The number of minutes the person engages in physical activity daily.

* Stress Level (scale: 1-10): A subjective rating of the stress level experienced by the person, ranging from 1 to 10.

* BMI Category: The BMI category of the person (e.g., Underweight, Normal, Overweight).

* Blood Pressure (systolic/diastolic): The blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure.

* Heart Rate (bpm): The resting heart rate of the person in beats per minute.

* Daily Steps: The number of steps the person takes per day.

* Sleep Disorder: The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea).

#### Details about Sleep Disorder Column:
* None: The individual does not exhibit any specific sleep disorder.
* Insomnia: The individual experiences difficulty falling asleep or staying asleep, leading to inadequate or poor-quality sleep.
* Sleep Apnea: The individual suffers from pauses in breathing during sleep, resulting in disrupted sleep patterns and potential health risks.

## Import Libraries

In [84]:

import pandas as pd

### Import data

First we import data for the lab from the `Sleep_health_and_lifestyle_dataset.csv` file. It is in the same directory as our ipynb, so we can import it using it's relative file path.

In [85]:
## import data
df_patient = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

# change Person ID to character
df_patient['Person ID'] = df_patient['Person ID'].astype('str')

Looking at the first few lines of the dataset.

In [86]:
df_patient.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

### Group By

In [87]:
# First Create a grouped object by location
grp = df_patient.groupby('Gender')

### Group by with Aggregate

In [88]:
# Summary statistics by male and female

# mean, min and max
grp[['Age', 'Sleep Duration', 'Quality of Sleep']].aggregate(['mean', 'min', 'max'])

              Age         Sleep Duration           Quality of Sleep
             mean min max           mean  min  max             mean min max
Gender
Female  47.405405  29  59       7.229730  5.8  8.5         7.664865   4   9
Male    37.074074  27  49       7.036508  5.9  8.1         6.968254   4   9

In [89]:
# Additional summary statistics by male and female
# works for each of the numeric columns
# returns the count, mean, standard deviation, min, 25% quartiles and max separately by group Male and Female
grp.describe()

          Age                                                     \
        count       mean       std   min   25%   50%   75%   max
Gender
Female  185.0  47.405405  8.093407  29.0  39.0  50.0  53.0  59.0
Male    189.0  37.074074  5.662006  27.0  32.0  38.0  43.0  49.0

       Sleep Duration            ... Heart Rate       Daily Steps  \
                count      mean  ...        75%   max       count
Gender                           ...
Female          185.0  7.229730  ...       73.0  84.0       185.0
Male            189.0  7.036508  ...       72.0  86.0       189.0


               mean          std     min     25%     50%     75%      max
Gender
Female  6840.540541  1733.377493  3300.0  5500.0  7000.0  7000.0  10000.0
Male    6793.650794  1500.589212  3000.0  6000.0  8000.0  8000.0  10000.0

[2 rows x 56 columns]

### Iteration within GroupBy object

The actual group by object, `grp`, is iterable. If we iterate through the object, it will yield a tuple with the name and the group.

In [90]:
## iteration through sex groups
## print name of group (Female or Male)
## and pring the person ID for each and sleep disorder category
for name, data in grp:
    print(name)
    print(data[['Person ID', 'Sleep Disorder']])

Female
    Person ID Sleep Disorder
16         17    Sleep Apnea
18         19       Insomnia
30         31    Sleep Apnea
31         32       Insomnia
32         33            NaN
..        ...            ...
369       370    Sleep Apnea
370       371    Sleep Apnea
371       372    Sleep Apnea
372       373    Sleep Apnea
373       374    Sleep Apnea

[185 rows x 2 columns]
Male
    Person ID Sleep Disorder
0           1            NaN
1           2            NaN
2           3            NaN
3           4    Sleep Apnea
4           5    Sleep Apnea
..        ...            ...
249       250            NaN
264       265       Insomnia
266       267       Insomnia
276       277    Sleep Apnea
277       278    Sleep Apnea

[189 rows x 2 columns]

You can also use the function `iterrows()` from pandas to iterate similarly across an ungrouped dataframe.

In [91]:
# iterate across each row in the data and print the Blood Pressure values
for index, row in df_patient.iterrows():
  print(row['Blood Pressure'])

126/83
125/80
125/80
140/90
140/90
140/90
140/90
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
132/87
120/80
132/87
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
130/86
130/86
117/76
125/80
120/80
125/80
125/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
120/80
125/80
120/80
125/80
125/80
120/80
125/80
125/80
120/80
125/80
125/80
125/80
125/80
125/80
125/80
118/76
125/80
128/85
128/85
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
131/86
131/86
128/84
128/84
120/80
115/75
125/80
125/80
125/80
125/80
125/80
125/80
120/80
135/88
115/75
115/75
115/75
115/75
115/75
115/75
115/75
115/75
115/75
129/84
115/75
129/84
126/83
120/80
120/80
130/85
115/75
130/85
115/75
130/85
115/75
115/75
115/75
115/75
115/75
115/75
115/75
115/75
115/75
115/75
115/75
120/80
130/85
115/75
130/85
130/85
115/75
130/85
130/85
115/75
130/85
130/85
115/75
130/85
115/75
130/85
115/75
130/85
115/75
115/75
130/85
135/88
130/85
132/87
128/85
115/78
115/78
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
119/77
119/77
130/85
130/85
130/85
121/79
125/82
125/82
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
135/90
130/85
135/90
130/85
135/90
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
117/76
122/80
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
130/85
135/90
130/85
130/85
130/85
135/90
130/85
135/90
130/85
135/90
130/85
135/90
130/85
135/90
130/85
135/90
130/85
130/85
135/90
130/85
130/85
135/90
130/85
130/85
135/90
130/85
135/90
130/85
130/85
130/85
130/85
135/90
135/90
135/90
135/90
135/90
135/90
135/90
135/90
135/90
135/90
135/90
135/90
135/90
125/82
142/92
140/95
142/92
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
139/91
139/91
140/95
125/80
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
125/80
125/80
125/80
125/80
125/82
140/95
140/95
140/95
130/85
130/85
130/85
130/85
130/85
130/85
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
125/80
140/95
140/95
118/75
118/75
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95
140/95

## Multiple Group-by

We can select multiple variables to be in the group-by statement by simply adding them into the group_by function. Now instead of just sex, we'll also group by BMI Category.

### Aggregate

In [92]:
pd.options.display.max_rows = 20
## Multivariate groups
# Look at patients grouped by sex and BMI Category and see their average sleep duration and quality of sleep
grp = df_patient.groupby(['Gender', 'BMI Category'])
res1 = grp[['Sleep Duration', 'Quality of Sleep']].agg('mean')
res1

                      Sleep Duration  Quality of Sleep
Gender BMI Category
Female Normal               7.793750          8.500000
       Normal Weight        7.285714          7.285714
       Obese                7.400000          7.000000
       Overweight           6.880189          7.216981
Male   Normal               7.198473          7.251908
       Normal Weight        7.428571          7.714286
       Obese                6.911111          6.333333
       Overweight           6.492857          6.095238

### Pivot

We can use the built in `pivot` function in python to reshape the data frame. Here we want to change the data from long format to wide format by moving the BMI categories from a single column and create columns for each value of BMI Category (Normal, Normal Weight, Overweight, Obese)

In [93]:

## Can also use the column names instead of indices
# reset the index to recover the variable names 
res1.reset_index().pivot(index='Gender', columns='BMI Category') 
        # pivot from long format to wide to have BMI category

             Sleep Duration                                     \
BMI Category         Normal Normal Weight     Obese Overweight
Gender
Female             7.793750      7.285714  7.400000   6.880189
Male               7.198473      7.428571  6.911111   6.492857

             Quality of Sleep
BMI Category           Normal Normal Weight     Obese Overweight
Gender
Female               8.500000      7.285714  7.000000   7.216981
Male                 7.251908      7.714286  6.333333   6.095238

### Melt

Use melt to do the opposite of pivot. Here, we want to convert all the columns to a single column 'variable' and all the cells to a new column called 'value'.

In [94]:
df_patient

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [95]:
# pd melt changes data frame from wide to long format
pd.melt(df_patient,
        id_vars=['Person ID'], # keep these as rows
        value_name='Value', # name of new column to input cells
        var_name='Variable') # name of new column to input original column names

     Person ID        Variable        Value
0            1          Gender         Male
1            2          Gender         Male
2            3          Gender         Male
3            4          Gender         Male
4            5          Gender         Male
...        ...             ...          ...
4483       370  Sleep Disorder  Sleep Apnea
4484       371  Sleep Disorder  Sleep Apnea
4485       372  Sleep Disorder  Sleep Apnea
4486       373  Sleep Disorder  Sleep Apnea
4487       374  Sleep Disorder  Sleep Apnea

[4488 rows x 3 columns]